<h1>Hobbies</h1>

    <div class="jumbotron">
         <h1>My Hobbies.</h1>      
             <p>I like to sing beacause I am a singer singing is my hobbie and passsion.</p>
    </div>
        <table border="3">
            <tr>
						<th>Date</th>
						<th>Money</th>
						<th>people</th>
					</tr>
				</thead>

				<tbody>
					<tr class="odd">
						<th>1st January</th>
						<td> 250</th>
						<td>36</td>
					</tr>
					<tr class="even">
						<th>2nd January</th>
						<td> 285</td>
						<td>48</td>
					</tr>
					<tr>
						<th>3rd January</th>
						<td>450</td>
						<td>50</td>
			</tr>
		</table>