<h1>Hobbies</h1>

    <div class="jumbotron">
         <h1>My Hobbies.</h1>      
             <p>I don't have any special hobbies but I like to play soccer. I play wioth my friends in wareen park
             Also I am a singer and i know how to play piano nd sing along.</p>
    </div>
    <div class="row">
    <div class=col-md-6>
    	
        <img src="http://s.hswstatic.com/gif/soccer-1.jpg" height="400" width="500">
    </div>
    <div class=col-md-6>
    	<img src="http://www.read-and-play-piano.com/images/piano-playing-1.jpg" height="400" width="500">
		
		 <div class="container">
      <button type="button" class="btn btn-success"> <a href="/main/sports">sports</button>
      <button type="button" class="btn btn-success"> <a href="/main/main">home</button>
      <button type="button" class="btn btn-success"> <a href="/main/personal">personal</button>
        <button type="button" class="btn btn-success"> <a href="/main/location">location</button>
      	</div>
      	
      <style>
      	body{
      		color:#00FF00;
      	}
      </style>