<h1>This is the map of my country</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7485709.976243358!2d85.84592827076578!3d23.6354496375529!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30adaaed80e18ba7%3A0xf2d28e0c4e1fc6b!2sBangladesh!5e0!3m2!1sen!2sus!4v1461684885756"
width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
<style>
    body{
        color:#FFFF00;
    }
</style>

<div class="container">
      <button type="button" class="btn btn-success"> <a href="/main/sports">sports</button>
      <button type="button" class="btn btn-success"> <a href="/main/main">home</button>
      <button type="button" class="btn btn-success"> <a href="/main/hobbies">hobbies</button>
        <button type="button" class="btn btn-success"> <a href="/main/personal">personal</button>
    </div>