<style>
    body{
        color:blue;
    }
</style>
<h1>personal</h1>
    <div class="row">
    <div class="col-md-6">
        <h1>Story of My life</h1>
        <h3>My name is Asif Nafiz. I am from Bangladesh. I was born and raised there. My father is a 
        Vice president of city bank in bangladesh. I have no siblings. My family and i decided to come to U.S.
        On 2009. After living 1 year in Chicago I went back to Bangladesh. Then I visited Dubai but didn't like that much there.
        0n 2012 i came back to chicago again and living  my life here now.</h3>
        
    </div>
    <div class="col-md-6">
        <img src="http://stourismbangladesh.com/wp-content/uploads/2014/10/Natural-Beauty.jpg" height="400" width="500"/>
    </div>
    </div>
    
    <div class="container">
      <button type="button" class="btn btn-success"> <a href="/main/sports">sports</button>
      <button type="button" class="btn btn-success"> <a href="/main/main">home</button>
      <button type="button" class="btn btn-success"> <a href="/main/hobbies">hobbies</button>
        <button type="button" class="btn btn-success"> <a href="/main/location">location</button>
    </div>