<h1>sports</h1>
<style>
table, th, td {
    border: 2px solid black;
    
}
.one{
    font-size:20px;
    }
body{
    color:yellow;
}
</style>
<table border="3"  height="400" width="600">
    <tr>
        <th class="one">Sorts I lke to play </th>
        <th class="one">Where</th>
        <th class="one">why</th>
        
    </tr>
    
        <tr>
            <td>soccer</td>
            <td>Wareen</td>
            <td>me and my friends play there for fun</td>
        </tr>
        <tr>
            <td>Cricket</td>
            <td>Clinton</td>
            <td>we are big fan of cricket</td>
        </tr>
    </table>
    </table>
    
    
    <h1>Other games I play in school</h1>
        <ol Type="A">
            <li class="one">Baseball</li>
            <li class="one">volleyball</li>
            <li class="one">pikel ball</li>
        </ol>
    <h1>Most favourite</h1>
        <ul>
            <li class="one">Badminton</li>
            <li class="one">volleyball
            <ol type="a">
                <li>Sub of Second</li>
                <li>Another Sub</li>
            </ol>
            </li>
            <li class="one">baseball</li>
            <li class="one">Fourth</li>
        </ul>
    
     <div class="container">
      <button type="button" class="btn btn-success"> <a href="/main/personal">personal</button>
      <button type="button" class="btn btn-success"> <a href="/main/main">home</button>
      <button type="button" class="btn btn-success"> <a href="/main/hobbies">hobbies</button>
        <button type="button" class="btn btn-success"> <a href="/main/locatio">location</button>
      </div>